<%- include('_header.ejs') %>
  <div class="task-list">

    <% filteredTasks.forEach(task => { %>
      <div class="search-container search--querry-cont">
        <div class="search-child">
          <span class="status bar <%= task.status %>">
            <%= task.status %>
          </span>
          <span class="search-details content">
            <span class="color <%= task.status %>"></span>
            <%= task.name %>
          </span>
          <span class="content date search-date">
            <%= task.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %>
          </span>
        </div>
      </div>
    <% }); %>

<div class="pagination-box">

  <% if (page > 1) { %>
    <a href="/searchQuery?page=<%= page - 1 %>&&filter=<%= filter %>" class="pagination-button"><< Previous </a>
  <% } %>


  <% if (filteredTasks.length >= pageSize) { %>
    <a href="/searchQuery?page=<%= page + 1 %>&&filter=<%= filter %>" class="pagination-button">Next >> </a>
  <% } %>
</div>
     
  </div>
  
